.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
    }
 
      /* class card */
      .card{
        width: 250px;
        height: auto;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .card h3{
        margin: 2px;
      }
     
      .card:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      /* class card */
      /* class card header */
      .card-body .card-header{
        margin-bottom: 15px ;
      }
    
      .card-body h3{
       margin: 5px 0px 0px 0px;
      }
    
      .card-body button{
        width: 100%;
        margin-top:10px ;
        transition: transform 0.3s ease;
      }

      .card-body button:active{
        background-color: #3498db;
        transform: scale(1.02);
      }
    
      /* class card body */
    
      .card .card-body{
        padding: 10px;
      }
    
/* card-slider card didalam slider : slider = overflow : srcoll */
.cards-slider{
  display: flex;
  width: 100%;
  overflow: scroll;
  /* white-space: nowrap; */
}

  .card-slide{
      width: 200px;
        height: auto;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  }

  .card-slide h3{
    margin: 2px;
  }
 
  .card-slide:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* class card */
  /* class card header */
  .card-body .card-header{
    margin-bottom: 15px ;
  }

  .card-body h3{
   margin: 5px 0px 0px 0px;
  }

  .card-body button{
    width: 100%;
    margin-top:10px ;
    transition: transform 0.3s ease;
  }

  .card-body button:active{
    background-color: #3498db;
    transform: scale(1.02);
  }

  /* class card body */

  .card-slide .card-body{
    padding: 10px;
  }


  .card-colourist{
    width: 150px;
    height: auto;
    padding: 10px;
    padding-top: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
  }

  
  .card-colourist .diskon{
    font-size: 50px;
    text-align: center;
  }

  .card-colourist p{
    text-align: center;
  }

  .card-colourist b{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.card-square{
  width: 300px;
  height: 300px;
  background-color: #3498db;
  color: white;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.card-square h3{
  text-align: center;
}

.card-square p{
  text-align: center;
  font-size: large;
}

.card-square b{
  display: hide;
  background-color: white;
  text-align: center;
  font-size: large;
  
}